#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
watch_file devshell.toml

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi
use flake

# other env vars
export FOO="FOO"

# secret management
source_secrets() {
  file=$1
  if [[ -f "$file" ]] && head -1 "$file" | grep --quiet "#!"; then
    echo "reading secrets from ${file}…"
    source_env "$file"
  fi
  watch_file "$file"
}

source_secrets secrets.env
